networks:
  iot:
    driver: bridge

services:

  mosquitto:
    image: mosquitto_dt:v1
    container_name: mosquitto_container_iot
    hostname: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - iot

  nodered:
    image: nodered/node-red:latest
    container_name: nodered_container_iot
    ports:
      - "1880:1880"
    volumes:
      - ./nodered_data:/data
      - ./nodered_data/config:/usr/src/node-red/.config
    environment:
      - TZ=UTC
    networks:
      - iot

  simulator:
    image: iot-sim
    container_name: simulator_container_iot
    volumes:
      - ./simulator/.env:/app/.env
    depends_on:
      - mosquitto
    networks:
      - iot
